/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-black: 0, 0, 0;
    --basic-extra-dark: #283136;
    --basic-neutral: #eeeeee;
    --basic-red: #fb565a;
    --basic-extra-red: #e74246;
    --basic-dark-red: #d7373b;
    --basic-green: #00ca74;
    --basic-extra-green: #00bc6c;
    --basic-dark-green: #00aa62;
    --basic-yellow: #efc849;
    --basic-extra-yellow: #eab534;
    --basic-dark-yellow: #e5a722;
    --basic-gray: #666666;
    --basic-gray-current: #dbdbdb;
    --basic-extra-gray: #444444;
    --basic-gray-hover: #dfdfdf;
    --basic-gray-active: #d5d5d5;
    --basic-white: 255, 255, 255;
    --gray-gradient: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
    --red-gradient: linear-gradient(0deg, #e74246, #e74246), #ffffff;
    --dark-red-gradient: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
}


/* Global */

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    color: var(--basic-extra-dark);
    background-color: rgb(var(--basic-white));
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.button {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgb(var(--basic-white));
    background: var(--basic-red);
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
}

.button:hover {
    background: var(--basic-extra-red);
}

.button:active {
    background: var(--basic-dark-red);
    color: rgba(var(--basic-white), 0.3);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


/* Header */

.container-header {
    width: 1160px;
    margin: 0 auto;
}

.main-header {
    background-color: var(--basic-neutral);
}


/* Main navigation */

.main-navigation {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.main-header-logo {
    margin-top: 49px;
    margin-bottom: 0px;
}

.site-navigation {
    justify-self: center;
}

.site-navigation,
.user-navigation {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.site-navigation a,
.user-navigation a {
    color: rgb(var(--basic-black));
    text-decoration: none;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
    mix-blend-mode: normal;
    opacity: 0.3;
}


/* Main */

.main-container {
    width: 1160px;
    margin: 0 auto;
}


/* Slider */

.slider {
    background-color: var(--basic-neutral);
}

.slider-container {
    width: 1160px;
    margin: 0 auto;
}

.slider-list {
    list-style: none;
    margin: 0px;
    margin-bottom: 80px;
    padding: 0px;
}

.slider-item {
    display: grid;
    grid-template-columns: 400px auto;
}

.slider-content {
    margin-top: 78px;
    z-index: 1;
}

.slider-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: rgb(var(--basic-black));
    margin-top: 0px;
    margin-bottom: 25px;
}

.slider-item p:nth-of-type(2) {
    margin-top: 0px;
    margin-bottom: 38px;
}

.slider-item a {
    margin-top: 0px;
}

.slider-item img {
    grid-column: 2/-1;
}


/* Services */

.services {
    padding-bottom: 80px;
}

.services h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: rgb(var(--basic-black));
    margin-top: 25px;
    margin-bottom: 16px;
}

.services-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 100px;
}

.services-item img {
    margin-bottom: 0px;
}

.services-item p {
    width: 260px;
    margin-top: 0px;
    margin-bottom: 32px;
}

.services-item a {
    margin-top: 0px;
}

.app {
    background: var(--basic-green);
}

.app:hover {
    background: var(--basic-extra-green);
}

.app:active {
    background: var(--basic-dark-green);
}

.presentation {
    background: var(--basic-yellow);
}

.presentation:hover {
    background: var(--basic-extra-yellow);
}

.presentation:active {
    background: var(--basic-dark-yellow);
}


/* About */

.about {
    display: grid;
    grid-template-columns: 651px 360px;
    column-gap: 149px;
    padding-bottom: 73px;
}

.about-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: rgb(var(--basic-black));
    margin-top: 73px;
    margin-bottom: 32px;
}

.about p:nth-of-type(2) {
    margin-top: 0px;
    margin-bottom: 40px;
}

.about-list-title {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 23px;
}

.about-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.about-item:not(:first-child) {
    margin-top: 24px;
}

.about img {
    margin-top: 39px;
    margin-bottom: 37px;
}

.advantage {
    margin-top: 0px;
    border-spacing: 11px 6px;
    text-align: left;
}

.advantage-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(var(--basic-black));
    margin-top: 0px;
    margin-bottom: 31px;
}

.advantage:first-child {
    margin-bottom: 10px;
}

.advantage-th {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: rgb(var(--basic-black));
}

.advantage-th sup {
    font-size: 26px;
    line-height: 40px;
    color: rgb(var(--basic-black));
}

.advantage-td {
    line-height: 18px;
}


/* Producer */

.producer-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.producer-item {
    margin-top: 46px;
    padding-bottom: 44px;
    opacity: 0.2;
    justify-self: center;
}

.producer-item:hover {
    opacity: 1;
}

.producer-item:active {
    opacity: 0.1;
}


/* Footer */

.footer-container {
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto;
}


/* Contacts */

.map-content {
    margin-top: 80px;
    position: relative;
}

.footer-contacts {
    margin: 49px 39px 47px 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-gray);
    position: absolute;
    top: 54px;
    left: 0px;
}

.footer-contacts p:nth-of-type(2) {
    margin-top: 0px;
    margin-bottom: 38px;
}

.footer-contacts a {
    margin-top: 0px;
}

.contacts-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: rgb(var(--basic-black));
    margin-top: 0px;
    margin-bottom: 23px;
}

.contacts-phone {
    text-decoration: none;
    color: var(--basic-gray);
}


/* Social */

.footer-social {
    margin-top: 68px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-extra-gray);
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 139px;
}

.social-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-self: center;
}

.social-paragraph p:nth-of-type(2) {
    margin-top: 0px;
    margin-bottom: 74px;
}

.footer-social-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: rgb(var(--basic-black));
    margin-top: 0px;
    margin-bottom: 10px;
}

.social-button {
    background: var(--gray-gradient);
}

.social-button:hover {
    background: var(--red-gradient);
}

.social-button:active {
    background: var(--dark-red-gradient);
}

.social-button img:active {
    opacity: 0.3;
}


/* Catalog */

.catalog-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: rgb(var(--basic-black));
}

.catalog {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-gray);
}

.catalog-list {
    list-style: none;
}

.catalog-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: rgb(var(--basic-black));
    text-decoration: none;
}

.catalog-item-title:hover {
    color: var(--basic-red);
}

.catalog-item-title:active {
    color: rgba(var(--basic-black), 0.3);
}

.price:active {
    color: rgb(var(--basic-white));
}


/* Pagination */

.pagination-list {
    list-style: none;
}

.pagination-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgb(var(--basic-black));
}

.pagination-item-current {
    background: rgb(var(--basic-white));
    border: 3px solid var(--basic-gray-current);
    box-sizing: border-box;
    border-radius: 3px;
}

.pagination-button {
    background: var(--basic-neutral);
    border-radius: 3px;
    text-decoration: none;
    color: rgb(var(--basic-black));
}

.pagination-button:hover {
    background: var(--basic-gray-hover);
}

.pagination-button:active {
    background: var(--basic-gray-active);
    color: rgba(var(--basic-black), 0.3);
}

.next {
    text-transform: uppercase;
}