/* Variables */

:root {
    --basic-black: 0, 0, 0;
    --basic-extra-dark: #283136;
    --basic-neutral: #eeeeee;
    --basic-red: #fb565a;
    --basic-extra-red: #e74246;
    --basic-dark-red: #d7373b;
    --basic-green: #00ca74;
    --basic-extra-green: #00bc6c;
    --basic-dark-green: #00aa62;
    --basic-yellow: #efc849;
    --basic-extra-yellow: #eab534;
    --basic-dark-yellow: #e5a722;
    --basic-gray: #666666;
    --basic-gray-current: #dbdbdb;
    --basic-extra-gray: 68, 68, 68;
    --basic-gray-hover: #dfdfdf;
    --basic-gray-active: #d5d5d5;
    --basic-gray-slider: #C1C1C1;
    --filter-white: #f1f1f1;
    --filter-gray: #d7dcde;
    --filter-extra-gray: #ababab;
    --toggle-shadow: #cfcfcf;
    --product-gray: 77, 77, 77;
    --product-background: #F2F2F2;
    --input-hover-gray: #B4B9BB;
    --basic-white: 255, 255, 255;
    --gray-gradient: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
    --red-gradient: linear-gradient(0deg, #e74246, #e74246), #ffffff;
    --dark-red-gradient: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
}


/* Global */

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: var(--basic-extra-dark);
    background-color: rgb(var(--basic-white));
    display: grid;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.button {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgb(var(--basic-white));
    background: var(--basic-red);
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
}

.button:hover {
    background: var(--basic-extra-red);
}

.button:active {
    background: var(--basic-dark-red);
    color: rgba(var(--basic-white), 0.3);
    box-shadow: inset 0px 3px 0px rgba(var(--basic-black), 0.1);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


/* Header */

.container-header {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    background-color: var(--basic-neutral);
}


/* Main navigation */

.main-navigation {
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 49px;
}

.catalog-body .main-header-logo:active {
    opacity: 0.3;
}

.site-navigation,
.user-navigation {
    list-style: none;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    padding-top: 26px;
}

.site-navigation {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    margin-left: 4px;
}

.site-navigation li {
    margin-right: 44px;
}

.site-navigation li:nth-child(2n) {
    margin-right: 48px;
}

.user-navigation {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    position: relative;
}

.basket-link {
    padding-left: 40px;
}

.basket-link::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 0px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.navigation-current {
    padding-bottom: 13px;
    border-bottom: 2px solid var(--basic-red);
}

.site-navigation a,
.user-navigation a {
    color: rgb(var(--basic-black));
    text-decoration: none;
    padding-bottom: 7px;
    display: block;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
    mix-blend-mode: normal;
    opacity: 0.3;
}


/* Main */

.main-container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Slider */

.slider {
    background-color: var(--basic-neutral);
}

.slider-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.slider-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.slider-item {
    display: flex;
    justify-content: flex-end;
}

.slider-content {
    padding-top: 73px;
    padding-bottom: 80px;
    z-index: 1;
    position: absolute;
    left: 40px;
}

.slider-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: rgb(var(--basic-black));
    margin-top: 0px;
    margin-bottom: 26px;
}

.slider1-paragraph {
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 39px;
}

.slider2-paragraph,
.slider3-paragraph {
    line-height: 24px;
    margin-top: 38px;
    margin-bottom: 27px;
}

.slider-button {
    padding: 17px 56px 15px 53px;
    display: inline-block;
    vertical-align: top;
}

.slider-image {
    max-height: 429px;
    margin-top: -4px;
    margin-right: 23px;
}

.slide {
    display: none;
}

.slide-current {
    display: flex;
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 576px;
    z-index: 2;
    display: flex;
    width: 88px;
    justify-content: space-between;
}

.controls-button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: rgb(var(--basic-white));
    border: 2px solid rgb(var(--basic-white));
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.slider-controls .current {
    position: relative;
}

.slider-controls .current::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--basic-gray-slider);
    border-radius: 50%;
}


/* Services */

.services {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid var(--basic-neutral);
}

.services-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    -moz-column-gap: 100px;
    column-gap: 100px;
}

.services-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: rgb(var(--basic-black));
    padding-top: 21px;
    padding-bottom: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.services-paragraph {
    width: 260px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 32px;
}

.services-button {
    margin-top: 0px;
    padding: 17px 40px 15px 38px;
    display: inline-block;
    vertical-align: top;
}

.app {
    background: var(--basic-green);
}

.app:hover {
    background: var(--basic-extra-green);
}

.app:active {
    background: var(--basic-dark-green);
}

.presentation {
    background: var(--basic-yellow);
}

.presentation:hover {
    background: var(--basic-extra-yellow);
}

.presentation:active {
    background: var(--basic-dark-yellow);
}


/* About */

.about {
    display: grid;
    grid-template-columns: 1fr 360px;
    -moz-column-gap: 135px;
    column-gap: 135px;
    padding-top: 39px;
    padding-bottom: 72px;
    border-bottom: 2px solid var(--basic-neutral);
}

.about-content {
    line-height: 24px;
}

.about-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: rgb(var(--basic-black));
    padding-top: 34px;
    margin-top: 0px;
    margin-bottom: 33px;
}

.about-paragraph {
    margin-top: 0px;
    margin-bottom: 41px;
}

.about-list-title {
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.about-item {
    padding-left: 35px;
    margin-top: 24px;
    position: relative;
}

.about-item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}

.advantage-image {
    padding-bottom: 34px;
}

.advantage-title {
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgb(var(--basic-black));
    margin-top: 0px;
    margin-bottom: 29px;
}

.advantage {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.advantage-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.advantage-th:last-child {
    padding-right: 50px;
}

.advantage-th {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: rgb(var(--basic-black));
}

.advantage-th sup {
    font-size: 26px;
    line-height: 40px;
    color: rgb(var(--basic-black));
}

.td-list {
    padding-top: 11px;
}

.advantage-td:not(:first-child) {
    padding-left: 26px;
}

.advantage-td {
    line-height: 18px;
}


/* Producer */

.producer {
    padding-bottom: 38px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--basic-neutral);
}

.producer-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.producer-item {
    padding-right: 48px;
    padding-left: 32px;
    margin-top: 55px;
    position: relative;
}

.producer-item:nth-child(2) {
    padding-right: 55px;
    padding-left: 19px;
    margin-top: 47px;
}

.producer-item:nth-child(3) {
    padding-right: 55px;
    padding-left: 20px;
    margin-top: 47px;
}

.producer-item:nth-child(4) {
    padding-right: 44px;
    padding-left: 30px;
    margin-top: 47px;
}

.producer-item a {
    opacity: 0.2;
}

.producer-item a:hover {
    opacity: 1;
}

.producer-item a:active {
    opacity: 0.1;
}

.producer-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -2px;
    bottom: 24%;
    width: 2px;
    height: 52px;
    background-color: var(--basic-neutral);
}

.producer-item:not(:last-child):nth-child(2)::after {
    bottom: 27%;
    right: 10px;
}

.producer-item:not(:last-child):nth-child(3)::after {
    bottom: 11%;
    right: 1px;
}


/* Footer */

.page-footer {
    grid-row: 3/4;
}

.footer-container {
    width: 1160px;
    margin: 0 auto;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 68px;
    padding-left: 20px;
    display: grid;
    grid-template-rows: auto auto;
    position: relative;
}


/* Contacts */

.map-content {
    position: relative;
}

.map {
    height: 416px;
}

.footer-contacts {
    padding: 49px 51px 47px 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-gray);
    position: absolute;
    top: 54px;
    left: 0px;
    z-index: 1;
    background-color: rgb(var(--basic-white));
}

.contacts-paragraph {
    margin-top: 0px;
    margin-bottom: 38px;
}

.contacts-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: rgb(var(--basic-black));
    margin-top: 0px;
    margin-bottom: 23px;
}

.contacts-phone {
    text-decoration: none;
    color: var(--basic-gray);
}

.contacts-button {
    padding: 17px 46px 15px 44px;
    display: block;
}


/* Popup */

.popup {
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 52%);
    width: 960px;
    height: 590px;
    padding: 65px 99px 84px 100px;
    display: none;
    box-shadow: 0px 20px 40px rgba(var(--basic-black), 0.4);
    background-color: rgb(var(--basic-white));
    box-sizing: border-box;
}

.popup-content {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: rgb(var(--basic-black));
    position: relative;
}

.popup-title {
    margin-top: 0px;
    margin-bottom: 1px;
}

.close {
    position: absolute;
    top: -10%;
    right: -1.5%;
    padding: 0;
    border: none;
    outline: none;
    background-color: inherit;
}

.close-image {
    opacity: 0.3;
}

.close-image:hover {
    opacity: 1;
}

.close-image:active {
    opacity: 0.1;
}

.contact-form {
    margin-top: 18px;
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form--title {
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
    vertical-align: top;
    color: rgb(var(--basic-black));
}

.name-user,
.email-user {
    margin-top: 5px;
    box-sizing: border-box;
    width: 360px;
    padding: 15px 14px 14px 16px;
}

.contact-form-input {
    border: 2px solid var(--filter-gray);
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.message-textarea {
    margin-top: 4px;
    margin-bottom: 25px;
    box-sizing: border-box;
    width: 760px;
    padding: 16px 16px 10px 15px;
    resize: none;
}

.send-button {
    margin-left: 1px;
    padding: 17px 85px 15px 82px;
    outline: none;
    border: none;
}

.contact-form-input::-webkit-input-placeholder {
    color: rgba(var(--basic-extra-gray), 0.5);
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.contact-form-input:focus::-webkit-input-placeholder {
    color: rgb(var(--basic-extra-gray));
}

.contact-form-input:hover {
    border: 2px solid var(--input-hover-gray);
}

.contact-form-input:focus {
    color: rgb(var(--basic-extra-gray));
    border: 2px solid rgb(var(--basic-black));
}

.contact-form-input:invalid {
    border: 2px solid var(--basic-extra-red);
    color: var(--basic-extra-red);
}


/* Social */

.footer-social {
    padding-top: 65px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgb(var(--basic-extra-gray));
    display: grid;
    grid-template-columns: auto 1fr;
}

.social-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.social-button {
    margin-right: 9px;
    background: var(--gray-gradient);
    width: 81px;
    height: 81px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.social-paragraph {
    padding-left: 130px;
}

.social-paragraph p:nth-of-type(2) {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-social-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: rgb(var(--basic-black));
    margin-top: 7px;
    margin-bottom: 10px;
}

.social-button:hover {
    background: var(--red-gradient);
}

.social-button:active {
    background: var(--dark-red-gradient);
    box-shadow: inset 0px 3px 0px rgba(var(--basic-black), 0.1);
}

.social-button:active img {
    opacity: 0.3;
}


/* Catalog */

.page-catalog {
    display: flex;
    justify-content: space-between;
}

.catalog-title {
    margin: 0px auto;
    padding-top: 72px;
    padding-right: 20px;
    padding-bottom: 108px;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: rgb(var(--basic-black));
    background-color: var(--basic-neutral);
    text-align: center;
}

.catalog {
    padding-top: 133px;
    padding-left: 140px;
    padding-bottom: 13px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-gray);
}

.catalog-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 9px;
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    max-width: 360px;
    margin-right: 40px;
    margin-bottom: 30px;
    position: relative;
    transition: box-shadow, 0.9s;
    border-radius: 0 0 5px 5px;
}

.product-border {
    width: 353px;
    height: 40px;
    padding-left: 7px;
    background-color: rgba(var(--product-gray), 0.12);
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    transition: background-color, linear, 0.6s;
}

.product {
    width: 360px;
    height: 580px;
    background: var(--product-background);
    border: 1px solid rgba(var(--basic-black), 0.1);
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

.border-circle {
    height: 14px;
    width: 14px;
    margin-left: 9px;
    background-color: rgb(var(--basic-white));
    border-radius: 50%;
}

.product-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.product-description {
    padding: 22px 53px 44px 52px;
    width: 255px;
    min-height: 162px;
    bottom: 0;
    left: 0;
    background-color: var(--basic-neutral);
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 5px 5px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 12px;
    color: rgb(var(--basic-black));
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}

.product-content {
    margin: 0;
    margin-bottom: 33px;
    max-width: 360px;
    text-align: center;
}

.price {
    padding: 16px 72px 17px 72px;
    display: inline-block;
    vertical-align: top;
}

.catalog-item-title:hover {
    color: var(--basic-red);
}

.catalog-item-title:active {
    color: rgba(var(--basic-black), 0.3);
}

.price:active {
    color: rgb(var(--basic-white));
}

.catalog-item:hover {
    box-shadow: 0px 6px 15px rgba(var(--basic-black), 0.25);
    border-radius: 5px;
}

.catalog-item:hover .product-border {
    background-color: rgba(var(--product-gray), 1);
}

.catalog-item:hover .product {
    border: none;
}

.catalog-item:hover .product-description {
    display: block;
}


/* Filter */

.filters {
    min-width: 260px;
}

.filter-item {
    margin: 0;
    padding: 0;
    margin-top: 60px;
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--filter-white);
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: var(--filter-gray);
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--basic-green);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid rgb(var(--basic-white));
    background-color: var(--filter-extra-gray);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle-shadow);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
}

.price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.price-controls input {
    width: 60px;
    padding: 10px 5px 10px 14px;
    margin-left: 10px;
    text-align: center;
    color: var(--basic-extra-dark);
    border: none;
    border-radius: 5px;
    background: var(--filter-white);
    font-family: inherit;
    font-size: inherit;
}

.min-price input {
    margin-right: 30px;
}


/* Pagination */

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 34px;
    padding-left: 2px;
    display: flex;
}

.pagination-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgb(var(--basic-black));
    margin-right: 11px;
}

.pagination-item:last-child {
    margin-right: 0px;
}

.pagination-button {
    background: var(--basic-neutral);
    border-radius: 3px;
    text-decoration: none;
    color: rgb(var(--basic-black));
    padding: 17px 20px 15px;
    box-sizing: border-box;
}

.pagination-button-current {
    text-decoration: none;
    color: rgb(var(--basic-black));
    background: rgb(var(--basic-white));
    border: 3px solid var(--basic-gray-current);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 14px 17px 12px;
}

.pagination-button:hover {
    background: var(--basic-gray-hover);
}

.pagination-button:active {
    background: var(--basic-gray-active);
    color: rgba(var(--basic-black), 0.3);
    box-shadow: inset 0px 3px 0px rgba(var(--basic-black), 0.1);
}

.next {
    text-transform: uppercase;
    padding: 17px 77px 15px;
}